<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iteamapp.iteamapp">


    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>





    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/login_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="iteamapp.iteamapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity_Club">


        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".FreeTimeTable"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".ChatActivityClub"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".StarListAction"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".FreeTimePerson"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".SetTime"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".FreeTimeTableClub"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".SendMessage"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".LoginActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity android:name=".personal_edit"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".News"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".ClubDetail">

        </activity>
        <activity android:name=".personal">

        </activity>

        <activity android:name=".StarList"
            android:label="My Application"
            >
        </activity>
        <activity android:name=".enroll"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".PersonEnroll"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".SetLogo"
            android:label="@string/app_name">

        </activity>


        <activity android:name=".ChatActivity"
            android:label="@string/app_name"></activity>

        <activity android:name=".androidrichtexteditor.RichTextActivity"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".NewsClub"
            android:label="@string/app_name">

        </activity>


        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="iteamapp.iteamapp" />
            </intent-filter>
        </receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

</manifest>