<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iteamapp.iteamapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/login_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_Club">

        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name">


        </activity>

        <activity android:name=".FreeTimeTable"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".LoginActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".News"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".ClubDetail">

        </activity>
        <activity android:name=".personal">

        </activity>

        <activity android:name=".StarList"
            android:label="My Application"
            >
        </activity>
        <activity android:name=".enroll"
            android:label="@string/app_name">

        </activity>


        <activity android:name=".ChatActivity"
            android:label="@string/app_name"></activity>


        <activity
            android:name="testpic.TestPicActivity"
            android:theme="@android:style/Theme.NoTitleBar" >


        </activity>


        <activity
            android:name="testpic.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="testpic.PublishedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" >

        </activity>
        <activity
            android:name="testpic.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

</manifest>